node_modules
dist
.vitest/

# wpsjs build 或 publish 使用的目录
wps-addon-*

# unplugin 自动生成的类型声明文件
auto-imports.d.ts
components.d.ts

# vue router 自动生成的类型声明文件
typed-router.d.ts

# vite-plugin-wps-enhance 生成的文件

public/ribbon.xml
ribbon-images.d.ts
wps-enums.generated.ts
wps-env.d.ts

# debug logs
debug.log
